.DS_Store
.idea
nbproject
/.docker/*
!/.docker/ca-certificates
!/.docker/web
!/.docker/cron.sh
/.dockerignore
/.env*
/.git*
/.surf
/docker-compose.yml
/public/*
!/public/typo3conf
/public/typo3conf/*
!/public/typo3conf/*.php
/README.md
/var/*
!/var/labels
/vendor