.DS_Store
.idea
nbproject
/.docker/*
!/.docker/ca-certificates
!/.docker/web
/.dockerignore
/.env*
/.git*
/.surf
/docker-compose.yml
/public/*
!/public/.htaccess
!/public/typo3conf
/public/typo3conf/*
!/public/typo3conf/l10n
!/public/typo3conf/*.php
/public/typo3conf/PackageStates.php
/README.md
/var
/vendor
