/.docker/db

.DS_Store
.idea
nbproject
/var
/vendor

/private/*
!/private/typo3conf
/private/typo3conf/*
!/private/typo3conf/l10n/
!/private/typo3conf/*.php
/private/typo3conf/PackageStates.php

/public/*
!/public/.htaccess
