services:
  web:
    image: ${WEB_IMAGE}
    networks:
      frontend:
      web-typo3:
        aliases:
        - ${VHOST}
    depends_on:
    - typo3
    labels:
      traefik.docker.network: ${FRONTEND_NETWORK:-frontend}
      traefik.enable: "true"
      traefik.frontend.rule: Host:${VHOST}${ADDITIONAL_VHOSTS}
    restart: "${RESTART}"

  typo3:
    image: ${TYPO3_IMAGE}
    networks:
      web-typo3:
    environment:
      TRUSTED_HOSTS_PATTERN:
    restart: "${RESTART}"

networks:
  web-typo3:
  frontend:
    external: true
    name: ${FRONTEND_NETWORK:-frontend}
